name: Android

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: android-${{github.ref}}
  cancel-in-progress: true

env:
  ANDROID_NDK_VERSION: "26.1.10909125" # Android NDK version to use

jobs:
  build:
    name: ${{ matrix.platform }} - ${{ matrix.arch }} - ${{ matrix.api }} - ${{ matrix.config }} - ${{ matrix.stl_type }}
    runs-on: ${{ matrix.platform }}

    env:
      CMAKE_CXX_COMPILER_LAUNCHER: ccache # Use ccache to cache C++ compiler output
      AVD_COMMAND: --verbose create avd -n sfml-test -k "system-images;android-${{ matrix.api }};default;${{ matrix.arch }}" --force # Command used to create the Android Virtual Device
      EMULATOR_COMMAND: -verbose -avd sfml-test # Command line options for starting the Android emulator

    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-24.04, macos-15]
        arch: [x86_64]
        api: [21]
        config: [Debug]
        stl_type: [c++_shared]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Get CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: 3.28
          ninjaVersion: latest

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: platform-tools build-tools;36.1.0 ndk;${{ env.ANDROID_NDK_VERSION }} emulator system-images;android-${{ matrix.api }};default;${{ matrix.arch }}

      - name: Setup NDK
        shell: bash
        run: echo "ANDROID_NDK_ROOT=$ANDROID_SDK_ROOT/ndk/${{ env.ANDROID_NDK_VERSION }}" >> $GITHUB_ENV

      - name: Setup CCache
        uses: hendrikmuhs/ccache-action@v1.2.12
        with:
          verbose: 2
          key: ${{ matrix.platform }}-${{ matrix.arch }}-${{ matrix.api }}-${{ matrix.config }}-${{ matrix.stl_type }}

      - name: Configure CMake
        run: cmake --preset dev -DCMAKE_VERBOSE_MAKEFILE=ON -GNinja -DCMAKE_ANDROID_ARCH_ABI=${{ matrix.arch }} -DCMAKE_SYSTEM_NAME=Android -DCMAKE_SYSTEM_VERSION=${{ matrix.api }} -DBUILD_SHARED_LIBS=ON -DCMAKE_ANDROID_STL_TYPE=${{ matrix.stl_type }} -DSFML_RUN_DISPLAY_TESTS=OFF -DSFML_RUN_AUDIO_DEVICE_TESTS=OFF

      - name: Build
        run: cmake --build build --config ${{ matrix.config == 'Debug' && 'Debug' || 'Release' }} --target install

      - name: Build Android example
        run: examples/android/gradlew ${{ matrix.config == 'Debug' && 'assembleDebug' || 'assembleRelease' }} -p examples/android -P ARCH_ABI=${{ matrix.arch }} -P MIN_SDK=${{ matrix.api }}

      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api }}
          target: default
          arch: ${{ matrix.arch }}
          ndk: ${{ env.ANDROID_NDK_VERSION }}
          script: |
            cmake --build build --config ${{ matrix.config == 'Debug' && 'Debug' || 'Release' }} --target prepare-android-files
            ctest --test-dir build --output-on-failure -C ${{ matrix.config == 'Debug' && 'Debug' || 'Release' }}
