name: Android

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: android-${{github.ref}}
  cancel-in-progress: true

env:
  ANDROID_NDK_VERSION: "26.1.10909125" # Android NDK version to use

jobs:
  build:
    name: ${{ matrix.platform }} - ${{ matrix.arch }} - ${{ matrix.api }} - ${{ matrix.config }} - ${{ matrix.stl_type }}
    runs-on: ${{ matrix.platform }}

    env:
      CMAKE_CXX_COMPILER_LAUNCHER: ccache # Use ccache to cache C++ compiler output
      AVD_COMMAND: --verbose create avd -n sfml-test -k "system-images;android-${{ matrix.api }};default;${{ matrix.arch }}" --force # Command used to create the Android Virtual Device
      EMULATOR_COMMAND: -avd sfml-test # Command line options for starting the Android emulator

    strategy:
      fail-fast: false
      matrix:
        platform: [windows-2025, ubuntu-24.04, macos-15]
        arch: [x86, x86_64, armeabi-v7a, arm64-v8a]
        api: [21]
        config: [Debug, Release]
        stl_type: [c++_shared, c++_static]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Get CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: 3.28
          ninjaVersion: latest

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: platform-tools build-tools;33.0.2 ndk;${{ env.ANDROID_NDK_VERSION }} emulator system-images;android-${{ matrix.api }};default;${{ matrix.arch }}

      - name: Setup NDK
        shell: bash
        run: echo "ANDROID_NDK_ROOT=$ANDROID_SDK_ROOT/ndk/${{ env.ANDROID_NDK_VERSION }}" >> $GITHUB_ENV

      - name: Setup CCache
        uses: hendrikmuhs/ccache-action@v1.2.12
        with:
          verbose: 2
          key: ${{ matrix.platform }}-${{ matrix.arch }}-${{ matrix.api }}-${{ matrix.config }}-${{ matrix.stl_type }}

      - name: Configure CMake
        run: cmake --preset dev -DCMAKE_VERBOSE_MAKEFILE=ON -GNinja -DCMAKE_ANDROID_ARCH_ABI=${{ matrix.arch }} -DCMAKE_SYSTEM_NAME=Android -DCMAKE_SYSTEM_VERSION=${{ matrix.api }} -DBUILD_SHARED_LIBS=ON -DCMAKE_ANDROID_STL_TYPE=${{ matrix.stl_type }} -DSFML_RUN_DISPLAY_TESTS=OFF -DSFML_RUN_AUDIO_DEVICE_TESTS=OFF

      - name: Build
        run: cmake --build build --config ${{ matrix.config == 'Debug' && 'Debug' || 'Release' }} --target install

      - name: Build Android example
        run: examples/android/gradlew ${{ matrix.config == 'Debug' && 'assembleDebug' || 'assembleRelease' }} -p examples/android -P ARCH_ABI=${{ matrix.arch }} -P MIN_SDK=${{ matrix.api }}

      - name: Create Virtual Device (Unix)
        if: runner.os != 'Windows'
        run: |
          echo "no" | $ANDROID_SDK_ROOT/cmdline-tools/latest/bin/avdmanager ${{ env.AVD_COMMAND }}
          $ANDROID_SDK_ROOT/emulator/emulator -list-avds

      - name: Create Virtual Device (Windows)
        if: runner.os == 'Windows'
        run: echo no | $ANDROID_SDK_ROOT\cmdline-tools\latest\bin\avdmanager.bat ${{ env.AVD_COMMAND }}
      
      - name: Start virtual device (Unix)
        if: runner.os != 'Windows'
        run: |
          nohup $ANDROID_SDK_ROOT/emulator/emulator ${{ env.EMULATOR_COMMAND }} &

      - name: Start virtual device (Windows)
        if: runner.os == 'Windows'
        run: |
          start "" %ANDROID_SDK_ROOT%\emulator\emulator.exe ${{ env.EMULATOR_COMMAND }}

      - name: Wait for device boot
        run: $ANDROID_SDK_ROOT/platform-tools/adb wait-for-device shell 'while [[ "$(getprop sys.boot_completed)" != "1" ]]; do sleep 1; done;'

      - name: Test
        run: |
          cmake --build build --config ${{ matrix.config == 'Debug' && 'Debug' || 'Release' }} --target prepare-android-files
          ctest --test-dir build --output-on-failure -C ${{ matrix.config == 'Debug' && 'Debug' || 'Release' }}
